## Temporary Files
*~

## Object Files
*.[ao]

## Executable
*.exe
*.elc

## bash
.bash.d/.bash_disp
.bash.d/.bash_local

## emacs
.emacs.d/emacs23/
.emacs.d/elpa/
.emacs.d/themes/
.emacs.d/backup/
.emacs.d/auto-save-list/
.emacs.d/history
.emacs.d/clang-complete
.emacs.d/ac-comphist.dat
.emacs.d/.session
.emacs.d/session.*
.emacs.d/.recentf
.emacs.d/.cask/
.emacs.d/el-get/

## vim
.vim/bundle/*/
!.vim/bundle/neobundle.vim/
.vim/buckup/

## xmonad
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xmonad/xmonad-x86_64-linux
.xmonad/*.swp

## zsh
.zsh.d/.zsh_history
.zsh.d/.zsh_local
.zsh.d/.zcompcache
.zsh.d/.zcompdump
.zsh.d/.zsh_disp


## end_of_file
