[user]
	email = ayanokouji11@gmail.com
	name = hightoro
[core]
	editor = emacs
	excludesfile = ~/.gitignore
[color]
	ui = true
[alias]
	hist = log --graph --date=short --decorate=short --pretty=format:'%C(green)%h %C(reset)%cd %C(blue)%cn %C(red)%d %Creset%s'
	st = status -sb
	cm = commit -a -m
	ps = push origin master
	pl = pull origin master
	graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	hist1 = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	alias = !"if test -z $1; then loop=; for k in `git config --get-regexp ^alias\\. | sort | sed -e 's/^alias\\.\\(\\S*\\).*/\\1/g'`; do echo -n $k; loop="${loop}1"; if test ${#loop} -lt 5; then echo -n '\t'; else echo; loop=; fi; done; exit; fi; git config --list | grep ^alias\\.$1= | sed -e s/^alias\\.//; exit;"
